mixin nav(class_suffix, active)
    ul.navigation
        - var nav = ['Планшеты', 'Мобильные телефоны', 'Мр3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Аксессуары', 'Бытовая техника']
            each item in nav
                li(class="navigation__item" + (class_suffix ? ' navigation__item_' + class_suffix : ''))
                    a(href="#" class="navigation__link" + (class_suffix ? ' navigation__link_' + class_suffix : '') + (active && active == item ? ' navigation__link_active' : ''))= item